<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

  <title>Create Account</title>

  <link rel="stylesheet" th:href="@{/css/create-account.css}">

</head>

<body>

<div class="create-container">

  <h1>Create Account</h1>

  <input
          type="text"
          placeholder="Username">

  <input
          type="password"
          placeholder="Password">

  <input
          type="password"
          placeholder="Confirm Password">

  <a href="/menu" class="button">
    Create Account
  </a>

  <a href="/">
    Back to Login
  </a>

</div>

</body>

</html>