<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="UTF-8">

  <title>Yu-Gi-Oh! Turbo</title>

  <link rel="stylesheet" th:href="@{/css/menu.css}">

</head>

<body>

<div class="menu">

  <h1>Yu-Gi-Oh! Turbo</h1>

  <a href="/duel" class="menu-button">
    Duel
  </a>

  <a href="/deck-editor" class="menu-button">
    Deck Editor
  </a>

  <a href="/trunk" class="menu-button">
    Trunk
  </a>

  <a href="/account" class="menu-button">
    Account
  </a>

</div>

</body>

</html>